/* font-family: 'Poppins', sans-serif; */
* {
    margin: 0;
    padding: 0;
  }

a {
  text-decoration: none;
  color: #000;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.header{
  display: flex;
  justify-content: flex-start;
  padding: 25px;
}

.main{
  display: flex;
  gap:50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.gallows{
  position: relative;
  padding: 25px;
}

.people{
  position: absolute;
  top: 171px;
  left: 278px;
}

.people_head{
  opacity: 1;
}

.people_body{
  opacity: 1;
  top: 268px;
  left: 325px;
}

.people_hand-one{
  opacity: 1;
  top: 270px;
  left: 260px;
}

.people_hand-two{
  opacity: 1;
  top: 268px;
  left: 325px;
}

.people_leg-one{
  opacity: 1;
  top: 395px;
  left: 262px;
}

.people_leg-two{
  opacity: 1;
  top: 395px;
  left: 325px;
}

.keyboard__text{
  display: grid;
  gap: 50px;
  align-content: center;
}

#input_text{
  cursor:auto;
}

.input__span{
  display: flex;
  flex-direction: column;
  gap: 25px;

}

.keyboard {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.key {
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  cursor: pointer;
}