* {
    margin: 0;
    padding: 0;
  }

  a {
  text-decoration: none;
  color: #000;
  }

  html{
   scroll-behavior: smooth;
  } 

  body{
    margin: auto;
    max-width: 1440px;
  }

  /* header */

  .header{
  max-width: 1440px;
  height: 100px;
  background-color: #E1D4C9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -2px 0px 0px 0px;
  padding: 0px 40px 0px 40px;
  }

  .header-logo{
    padding-top: 7px;
  }

 .header-navigation-item{
   display: flex;
 }

 .navigation-item{
    font-style: normal;
    list-style: none;
    text-decoration: none;
 }

 .navigation{
    color:#403F3D;
    gap: 4px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 0px 20px 0px 20px; 
 }

 .menu-item{
    padding: 0px 4px 0px 0px;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
 }

 /* main */

 main{
    max-width: 1440px;
    background-color: #E1D4C9;
 }

 .title-h1{
    max-width: 800px;
 }

 .title-text{
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; 
 }

 .title-text-span{
    color: var(--text-accent, #B0907A);
   font-feature-settings: 'clig' off, 'liga' off;
   font-family: Inter;
   font-size: 60px;
   font-style: italic;
   font-weight: 600;
   line-height: 125%;
 }

 .often-btn{
    padding: 20px 0px;
    display: flex;
    gap: 16px;
 }

.menu-btn{
    display: flex;
    padding: 6px 16px 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
border: 1px solid var(--border-light, #C1B6AD);
}

.btn-back{
    display: flex;
    padding: 7px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
}

.btn-text{
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
}

.menu-item-1{
    width: 90px;
}

.menu-item-2{
    width: 65px;
}

.menu-item-3{
    width: 96px;
}

 /* footer */

.footer{
    max-width: 1440px;
    background-color: #E1D4C9;
    padding-bottom: 40px;
 }
 
 .foot{
    padding: 0px 40px;
 }
 
 .footer-blol{
    display: flex;
    max-width: 1360px;
    padding: 100px 99px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-self: stretch;
    border-radius: 40px;
    background: var(--background-container, #665F55);
    justify-content: flex-start;
    gap: 137px;
 }
 
 .offer{
    display: grid;
    gap: 38px;
 }
 
 .offer-h2{
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; 
    display: grid;
 }
 
 .offer-span{
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
 }
 
 .Contact-list{
    display: grid;
    gap: 21px;
 }
 
 .link-social{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
 }
 
 .social-link{
    background-color: #665F55;
    width: 60px;
    height: 60px;
    border-radius: 100%;
   border: 1px solid var(--border-light, #C1B6AD);
   display: grid;
   justify-items: center;
   align-items: center;
   transition: 0.5s;
   cursor: pointer;
 }
 
 .contact-h4{
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; 
    padding-bottom: 38px;
 }
 
 .contact-item{
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
 }
 
 .nav-contact{
    display: flex;
    gap: 9px;
 }
 
 /* animation */
 
 .nav-item1,
 .nav-item2,
 .nav-item3,
 .nav-item4{
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s; 
    transition: 0.7s;    
 }
 
 .nav-item1:hover{
    color: #000000;
    background-size: 75% 2px;
 }
 .nav-item2:hover{
    color: #000000;
    background-size: 62% 2px;
 }
 .nav-item3:hover,
 .nav-item4:hover{
    
    color: #000000;
    background-size: 70% 2px; 
   }
 
 .header-menu{
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s; 
    transition: 0.7s;    
 }
 
 .header-menu{
    padding: 2px 0px;
    color: #000000;
    background-size: 100% 2px; 
   }
   
  .social-svg{
    transition: 0.5s;
   }
 
    .social-link:hover .social-svg,
    .social-svg:hover {
       
       stroke: #423d3d;
       transition: 0.5s;
   }
 
   .social-link:hover{
    background-color: #E1D4C9;
    transition: 0.5s;
   }
 
 
   .nav-contact-item{
 
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s; 
    transition: 0.7s;    
    color: #E1D4C9;
    display: flex;
    gap: 9px;
 }
 
 .nav-contact-item:hover{
    color: #E1D4C9;
    background-size: 100% 2px;
 }
 
